@font-face {
  font-family: "Lobster";
  src: url("/assets/lobster.otf");
}
/* line 6, ../../app/assets/stylesheets/application.css.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 10, ../../app/assets/stylesheets/application.css.scss */
.container {
  width: 960px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  position: relative;
}

/* line 17, ../../app/assets/stylesheets/application.css.scss */
header {
  height: 120px;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* line 27, ../../app/assets/stylesheets/application.css.scss */
header .main h1 {
  margin: 20px 0 20px 0;
  font-size: 40px;
  font-family: "Lobster", Helvetica, arial, serif;
}
/* line 32, ../../app/assets/stylesheets/application.css.scss */
header .main h1 a {
  text-decoration: none;
  color: #fff;
}
/* line 39, ../../app/assets/stylesheets/application.css.scss */
header .sub {
  background: #A61414;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 46, ../../app/assets/stylesheets/application.css.scss */
header .sub h2 {
  margin: 0px;
  line-height: 30px;
  padding-bottom: 3px;
}

/* line 54, ../../app/assets/stylesheets/application.css.scss */
#main_content {
  margin-top: 140px;
}

/* line 58, ../../app/assets/stylesheets/application.css.scss */
.category, .library {
  background: #eee;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
/* line 64, ../../app/assets/stylesheets/application.css.scss */
.category h3, .library h3 {
  margin: 0;
}
/* line 67, ../../app/assets/stylesheets/application.css.scss */
.category h3 span, .library h3 span {
  color: #999;
  font-weight: normal;
}
/* line 73, ../../app/assets/stylesheets/application.css.scss */
.category p, .library p {
  font-weight: bold;
}
/* line 77, ../../app/assets/stylesheets/application.css.scss */
.category a, .library a {
  text-decoration: none;
}
/* line 81, ../../app/assets/stylesheets/application.css.scss */
.category section, .library section {
  background: #fff;
  border-radius: 8px;
  line-height: 40px;
  margin: 10px 0px 0px;
}
/* line 87, ../../app/assets/stylesheets/application.css.scss */
.category section a, .library section a {
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}
/* line 93, ../../app/assets/stylesheets/application.css.scss */
.category section .last-sync, .library section .last-sync {
  font-size: .8em;
  float: right;
  margin-right: 20px;
}
/* line 99, ../../app/assets/stylesheets/application.css.scss */
.category section .set, .library section .set {
  margin: 0px 20px;
  width: 180px;
  display: inline-block;
}
/* line 104, ../../app/assets/stylesheets/application.css.scss */
.category section .set .label, .library section .set .label {
  font-weight: bold;
}
/* line 108, ../../app/assets/stylesheets/application.css.scss */
.category section .set .field, .library section .set .field {
  display: block;
}
/* line 111, ../../app/assets/stylesheets/application.css.scss */
.category section .set .field .change, .library section .set .field .change {
  color: #999;
  margin-left: 20px;
  font-size: 12px;
}
/* line 117, ../../app/assets/stylesheets/application.css.scss */
.category section .set .field .up, .library section .set .field .up {
  color: green;
}
/* line 121, ../../app/assets/stylesheets/application.css.scss */
.category section .set .field .down, .library section .set .field .down {
  color: red;
}

/* line 131, ../../app/assets/stylesheets/application.css.scss */
.chart svg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
/* line 136, ../../app/assets/stylesheets/application.css.scss */
.chart ul#legend {
  margin-top: 10px;
}
/* line 139, ../../app/assets/stylesheets/application.css.scss */
.chart ul#legend li {
  display: inline-block;
  width: 33%;
}
/* line 143, ../../app/assets/stylesheets/application.css.scss */
.chart ul#legend li .swatch {
  width: 20px;
  height: 20px;
  display: inline-block;
}
/* line 149, ../../app/assets/stylesheets/application.css.scss */
.chart ul#legend li span {
  line-height: 20px;
  vertical-align: top;
  margin-left: 10px;
}

/* line 158, ../../app/assets/stylesheets/application.css.scss */
footer {
  font-size: 10px;
  line-height: 50px;
}
/* line 162, ../../app/assets/stylesheets/application.css.scss */
footer .footnote {
  float: right;
}
