@font-face {
	font-family: "Lobster";
	src: url('/assets/lobster.otf');
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.container {
	width: 960px;
	padding: 0 20px 0 20px;
	margin: 0 auto;
	position: relative;
}

header {
	height: 120px;
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	
	.main {
		h1 {
			margin: 20px 0 20px 0;
			font-size: 40px;
			font-family: "Lobster", Helvetica, arial, serif;
			
			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}
	
	.sub {
		background: #A61414;
		font-size: 10px;
		position: absolute;
		bottom: 0px;
		width: 100%;
		
		h2 {
			margin: 0px;
			line-height: 30px;
			padding-bottom: 3px;
		}
	}
}

#main_content {
	margin-top: 140px;
}

.category, .library {
	background: #eee;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	
	h3 {
		margin: 0;
		
		span {
			color: #999;
			font-weight: normal;
		}
	}
	
	p {
		font-weight: bold;
	}
	
	a {
		text-decoration: none;
	}
	
	section {
		background: #fff;
		border-radius: 8px;
		line-height: 40px;
		margin: 10px 0px 0px;
		
		a {
			margin: 20px;
			text-decoration: none;
			font-weight: bold;
		}
		
		.set {
			margin: 0px 20px;
			width: 180px;
			display: inline-block;
			
			.label {
				font-weight: bold;
			}
			
			.field {
				display: block;
				
				.change {
					color: #999;
					margin-left: 20px;
					font-size: 12px;
				}
				
				.up {
					color: green;
				}
				
				.down {
					color: red;
				}
			}
		}
	}
}

.chart {

	svg {
	  background: rgba(255, 255, 255, .1);
	  border-radius: 10px;
	}

	ul#legend {
	  margin-top: 10px;
	  
		li {
	  	  	display: inline-block;
	  		width: 33%;
			
			.swatch {
	  		 	width: 20px;
	 		 	height: 20px;
	  	   	 	display: inline-block;
			}

			span {
	  			line-height: 20px;
	  		  	vertical-align: top;
	  		  	margin-left: 10px;
			}
		}
	}
}

footer {
	  font-size: 10px;
	  line-height: 50px;
	  
	  .footnote {
		  float: right;
	  }
}