<!DOCTYPE html>
<html>
<head>
  <title>Trending</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="main">
			<div class="container">
				<h1>The JS Toolbox</h1>
			</div>
		</div>
		<div class="sub">
			<div class="container">
				<h2>Javascript Frameworks</h2>
			</div>
		</div>
	</header>
	
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
